# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
link-service

# Libraries
vendor

# Test binary, build with `go test -c`
*.test

# Configurations
.env

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE

.idea

